<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webvisit.dao.AttenceAnnualStepExtMapper" >
  <resultMap id="BaseResultMap" type="com.webvisit.model.po.AttenceAnnualStep" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="annual_id" property="annualId" jdbcType="BIGINT" />
    <result column="more_than" property="moreThan" jdbcType="TINYINT" />
    <result column="less_than" property="lessThan" jdbcType="TINYINT" />
    <result column="vacation_days" property="vacationDays" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, annual_id, more_than, less_than, vacation_days
  </sql>

  <delete id="deleteByAnnualId" parameterType="java.lang.Long" >
    delete from t_attence_annual_step
    where annual_id = #{annualId,jdbcType=BIGINT}
  </delete>
</mapper>
