<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webvisit.dao.common.AttenceReportMapper" >
  <resultMap id="BaseResultMap" type="com.webvisit.model.po.AttenceReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="emp_id" property="empId" jdbcType="BIGINT" />
    <result column="punch_in_count" property="punchInCount" jdbcType="INTEGER" />
    <result column="punch_in_late_count" property="punchInLateCount" jdbcType="INTEGER" />
    <result column="punch_in_miss_count" property="punchInMissCount" jdbcType="INTEGER" />
    <result column="punch_out_countin_" property="punchOutCountin" jdbcType="INTEGER" />
    <result column="punch_out_early_count" property="punchOutEarlyCount" jdbcType="INTEGER" />
    <result column="punch_out_miss_count" property="punchOutMissCount" jdbcType="INTEGER" />
    <result column="ask_leave_count" property="askLeaveCount" jdbcType="INTEGER" />
    <result column="work_outside_count" property="workOutsideCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, emp_id, punch_in_count, punch_in_late_count, punch_in_miss_count, punch_out_countin_, 
    punch_out_early_count, punch_out_miss_count, ask_leave_count, work_outside_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_attence_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_attence_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.webvisit.model.po.AttenceReport" >
    insert into t_attence_report (id, emp_id, punch_in_count, 
      punch_in_late_count, punch_in_miss_count, punch_out_countin_, 
      punch_out_early_count, punch_out_miss_count, 
      ask_leave_count, work_outside_count)
    values (#{id,jdbcType=BIGINT}, #{empId,jdbcType=BIGINT}, #{punchInCount,jdbcType=INTEGER}, 
      #{punchInLateCount,jdbcType=INTEGER}, #{punchInMissCount,jdbcType=INTEGER}, #{punchOutCountin,jdbcType=INTEGER}, 
      #{punchOutEarlyCount,jdbcType=INTEGER}, #{punchOutMissCount,jdbcType=INTEGER}, 
      #{askLeaveCount,jdbcType=INTEGER}, #{workOutsideCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.webvisit.model.po.AttenceReport" >
    insert into t_attence_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="punchInCount != null" >
        punch_in_count,
      </if>
      <if test="punchInLateCount != null" >
        punch_in_late_count,
      </if>
      <if test="punchInMissCount != null" >
        punch_in_miss_count,
      </if>
      <if test="punchOutCountin != null" >
        punch_out_countin_,
      </if>
      <if test="punchOutEarlyCount != null" >
        punch_out_early_count,
      </if>
      <if test="punchOutMissCount != null" >
        punch_out_miss_count,
      </if>
      <if test="askLeaveCount != null" >
        ask_leave_count,
      </if>
      <if test="workOutsideCount != null" >
        work_outside_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=BIGINT},
      </if>
      <if test="punchInCount != null" >
        #{punchInCount,jdbcType=INTEGER},
      </if>
      <if test="punchInLateCount != null" >
        #{punchInLateCount,jdbcType=INTEGER},
      </if>
      <if test="punchInMissCount != null" >
        #{punchInMissCount,jdbcType=INTEGER},
      </if>
      <if test="punchOutCountin != null" >
        #{punchOutCountin,jdbcType=INTEGER},
      </if>
      <if test="punchOutEarlyCount != null" >
        #{punchOutEarlyCount,jdbcType=INTEGER},
      </if>
      <if test="punchOutMissCount != null" >
        #{punchOutMissCount,jdbcType=INTEGER},
      </if>
      <if test="askLeaveCount != null" >
        #{askLeaveCount,jdbcType=INTEGER},
      </if>
      <if test="workOutsideCount != null" >
        #{workOutsideCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webvisit.model.po.AttenceReport" >
    update t_attence_report
    <set >
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=BIGINT},
      </if>
      <if test="punchInCount != null" >
        punch_in_count = #{punchInCount,jdbcType=INTEGER},
      </if>
      <if test="punchInLateCount != null" >
        punch_in_late_count = #{punchInLateCount,jdbcType=INTEGER},
      </if>
      <if test="punchInMissCount != null" >
        punch_in_miss_count = #{punchInMissCount,jdbcType=INTEGER},
      </if>
      <if test="punchOutCountin != null" >
        punch_out_countin_ = #{punchOutCountin,jdbcType=INTEGER},
      </if>
      <if test="punchOutEarlyCount != null" >
        punch_out_early_count = #{punchOutEarlyCount,jdbcType=INTEGER},
      </if>
      <if test="punchOutMissCount != null" >
        punch_out_miss_count = #{punchOutMissCount,jdbcType=INTEGER},
      </if>
      <if test="askLeaveCount != null" >
        ask_leave_count = #{askLeaveCount,jdbcType=INTEGER},
      </if>
      <if test="workOutsideCount != null" >
        work_outside_count = #{workOutsideCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webvisit.model.po.AttenceReport" >
    update t_attence_report
    set emp_id = #{empId,jdbcType=BIGINT},
      punch_in_count = #{punchInCount,jdbcType=INTEGER},
      punch_in_late_count = #{punchInLateCount,jdbcType=INTEGER},
      punch_in_miss_count = #{punchInMissCount,jdbcType=INTEGER},
      punch_out_countin_ = #{punchOutCountin,jdbcType=INTEGER},
      punch_out_early_count = #{punchOutEarlyCount,jdbcType=INTEGER},
      punch_out_miss_count = #{punchOutMissCount,jdbcType=INTEGER},
      ask_leave_count = #{askLeaveCount,jdbcType=INTEGER},
      work_outside_count = #{workOutsideCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>