<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webvisit.dao.common.AttenceHolidayDefaultMapper" >
  <resultMap id="BaseResultMap" type="com.webvisit.model.po.AttenceHolidayDefault" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="holiday_date" property="holidayDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, holiday_date, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_attence_holiday_default
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_attence_holiday_default
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.webvisit.model.po.AttenceHolidayDefault" >
    insert into t_attence_holiday_default (id, holiday_date, type
      )
    values (#{id,jdbcType=BIGINT}, #{holidayDate,jdbcType=TIMESTAMP}, #{type,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.webvisit.model.po.AttenceHolidayDefault" >
    insert into t_attence_holiday_default
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="holidayDate != null" >
        holiday_date,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="holidayDate != null" >
        #{holidayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webvisit.model.po.AttenceHolidayDefault" >
    update t_attence_holiday_default
    <set >
      <if test="holidayDate != null" >
        holiday_date = #{holidayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webvisit.model.po.AttenceHolidayDefault" >
    update t_attence_holiday_default
    set holiday_date = #{holidayDate,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>