<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webvisit.dao.AttenceRegulationMapper" >
  <resultMap id="BaseResultMap" type="com.webvisit.model.AttenceRegulation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="punch_in_start" property="punchInStart" jdbcType="TIME" />
    <result column="punch_in_end" property="punchInEnd" jdbcType="TIME" />
    <result column="punch_out_start" property="punchOutStart" jdbcType="TIME" />
    <result column="punch_out_end" property="punchOutEnd" jdbcType="TIME" />
    <result column="allow_late" property="allowLate" jdbcType="TIME" />
    <result column="allow_leave_early" property="allowLeaveEarly" jdbcType="TIME" />
    <result column="allow_location_offset" property="allowLocationOffset" jdbcType="INTEGER" />
    <result column="check_location_lon" property="checkLocationLon" jdbcType="DECIMAL" />
    <result column="check_location_lat" property="checkLocationLat" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_account_id" property="createAccountId" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_account_id" property="modifyAccountId" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, name, punch_in_start, punch_in_end, punch_out_start, punch_out_end, 
    allow_late, allow_leave_early, allow_location_offset, check_location_lon, check_location_lat, 
    create_time, create_account_id, modify_time, modify_account_id, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_attence_regulation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_attence_regulation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.webvisit.model.AttenceRegulation" >
    insert into t_attence_regulation (id, company_id, name, 
      punch_in_start, punch_in_end, punch_out_start, 
      punch_out_end, allow_late, allow_leave_early, 
      allow_location_offset, check_location_lon, 
      check_location_lat, create_time, create_account_id, 
      modify_time, modify_account_id, remark
      )
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{punchInStart,jdbcType=TIME}, #{punchInEnd,jdbcType=TIME}, #{punchOutStart,jdbcType=TIME}, 
      #{punchOutEnd,jdbcType=TIME}, #{allowLate,jdbcType=TIME}, #{allowLeaveEarly,jdbcType=TIME}, 
      #{allowLocationOffset,jdbcType=INTEGER}, #{checkLocationLon,jdbcType=DECIMAL}, 
      #{checkLocationLat,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{createAccountId,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyAccountId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.webvisit.model.AttenceRegulation" >
    insert into t_attence_regulation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="punchInStart != null" >
        punch_in_start,
      </if>
      <if test="punchInEnd != null" >
        punch_in_end,
      </if>
      <if test="punchOutStart != null" >
        punch_out_start,
      </if>
      <if test="punchOutEnd != null" >
        punch_out_end,
      </if>
      <if test="allowLate != null" >
        allow_late,
      </if>
      <if test="allowLeaveEarly != null" >
        allow_leave_early,
      </if>
      <if test="allowLocationOffset != null" >
        allow_location_offset,
      </if>
      <if test="checkLocationLon != null" >
        check_location_lon,
      </if>
      <if test="checkLocationLat != null" >
        check_location_lat,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createAccountId != null" >
        create_account_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyAccountId != null" >
        modify_account_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="punchInStart != null" >
        #{punchInStart,jdbcType=TIME},
      </if>
      <if test="punchInEnd != null" >
        #{punchInEnd,jdbcType=TIME},
      </if>
      <if test="punchOutStart != null" >
        #{punchOutStart,jdbcType=TIME},
      </if>
      <if test="punchOutEnd != null" >
        #{punchOutEnd,jdbcType=TIME},
      </if>
      <if test="allowLate != null" >
        #{allowLate,jdbcType=TIME},
      </if>
      <if test="allowLeaveEarly != null" >
        #{allowLeaveEarly,jdbcType=TIME},
      </if>
      <if test="allowLocationOffset != null" >
        #{allowLocationOffset,jdbcType=INTEGER},
      </if>
      <if test="checkLocationLon != null" >
        #{checkLocationLon,jdbcType=DECIMAL},
      </if>
      <if test="checkLocationLat != null" >
        #{checkLocationLat,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAccountId != null" >
        #{createAccountId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyAccountId != null" >
        #{modifyAccountId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webvisit.model.AttenceRegulation" >
    update t_attence_regulation
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="punchInStart != null" >
        punch_in_start = #{punchInStart,jdbcType=TIME},
      </if>
      <if test="punchInEnd != null" >
        punch_in_end = #{punchInEnd,jdbcType=TIME},
      </if>
      <if test="punchOutStart != null" >
        punch_out_start = #{punchOutStart,jdbcType=TIME},
      </if>
      <if test="punchOutEnd != null" >
        punch_out_end = #{punchOutEnd,jdbcType=TIME},
      </if>
      <if test="allowLate != null" >
        allow_late = #{allowLate,jdbcType=TIME},
      </if>
      <if test="allowLeaveEarly != null" >
        allow_leave_early = #{allowLeaveEarly,jdbcType=TIME},
      </if>
      <if test="allowLocationOffset != null" >
        allow_location_offset = #{allowLocationOffset,jdbcType=INTEGER},
      </if>
      <if test="checkLocationLon != null" >
        check_location_lon = #{checkLocationLon,jdbcType=DECIMAL},
      </if>
      <if test="checkLocationLat != null" >
        check_location_lat = #{checkLocationLat,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAccountId != null" >
        create_account_id = #{createAccountId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyAccountId != null" >
        modify_account_id = #{modifyAccountId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webvisit.model.AttenceRegulation" >
    update t_attence_regulation
    set company_id = #{companyId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      punch_in_start = #{punchInStart,jdbcType=TIME},
      punch_in_end = #{punchInEnd,jdbcType=TIME},
      punch_out_start = #{punchOutStart,jdbcType=TIME},
      punch_out_end = #{punchOutEnd,jdbcType=TIME},
      allow_late = #{allowLate,jdbcType=TIME},
      allow_leave_early = #{allowLeaveEarly,jdbcType=TIME},
      allow_location_offset = #{allowLocationOffset,jdbcType=INTEGER},
      check_location_lon = #{checkLocationLon,jdbcType=DECIMAL},
      check_location_lat = #{checkLocationLat,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_account_id = #{createAccountId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_account_id = #{modifyAccountId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>