<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webvisit.dao.AttenceRecordMapper" >
  <resultMap id="BaseResultMap" type="com.webvisit.model.AttenceRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="emp_id" property="empId" jdbcType="BIGINT" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="check_type" property="checkType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, emp_id, check_time, check_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_attence_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_attence_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.webvisit.model.AttenceRecord" >
    insert into t_attence_record (id, emp_id, check_time, 
      check_type)
    values (#{id,jdbcType=BIGINT}, #{empId,jdbcType=BIGINT}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{checkType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.webvisit.model.AttenceRecord" >
    insert into t_attence_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="checkType != null" >
        check_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=BIGINT},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkType != null" >
        #{checkType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webvisit.model.AttenceRecord" >
    update t_attence_record
    <set >
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=BIGINT},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkType != null" >
        check_type = #{checkType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webvisit.model.AttenceRecord" >
    update t_attence_record
    set emp_id = #{empId,jdbcType=BIGINT},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      check_type = #{checkType,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>